<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situ.boot.mapper.StudentMapper" >
    <resultMap id="BaseResultMap" type="com.situ.boot.entity.Student" >
        <id column="id" property="id" />
        <result column="name" property="name"/>
        <result column="age" property="age" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id, name, age
    </sql>

    <select id="findAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM student
    </select>

    <select id="findById" parameterType="int" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
	   FROM student
	   WHERE id = #{id}
    </select>

    <insert id="add" parameterType="com.situ.boot.entity.Student" >
       INSERT INTO 
       		student
       		(name,age) 
       	VALUES
       		(#{name}, #{age})
    </insert>
    
    <update id="update" parameterType="com.situ.boot.entity.Student" >
       UPDATE 
       		student 
       <set>
       		<if test="name != null">name = #{name},</if>
       		<if test="age != null">age = #{age},</if>
       </set>
       WHERE 
       		id = #{id}
    </update>
    
    <delete id="deleteById" parameterType="int" >
       DELETE FROM
       		 student 
       WHERE 
       		 id =#{id}
    </delete>
</mapper>